body {
  background-color: #000000;
  font-family: "Arial Black", Helvetica, sans-serif;
  color: #00ff00;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
#test_definition{
  position: relative;
   visibility: hidden;
   overflow: hidden;
   border:1px solid;
   background-color:#05dff8;
   border:1px solid;
   padding:5px;
   color:#ff6500;
}

a:link {
    color: #00FFFF;
}

a:visited {
    color: #aa00aa;
}

a:hover {
    color: #FF00FF;
}

p {
font-family:"Comic Sans MS";
}

h2 {
font-family:"Arial";
align:"center";
font-size: 72;
color: #888888;
}


button {
font-family:"Comic Sans MS";
color: #ff0000;
background-color: #da89aa;
}

div.def {
   position: relative;
   visibility: hidden;
   overflow: hidden;
   border:1px solid;
   background-color:#05dff8;
   border:1px solid;
   padding:5px;
   color:#ff6500;
	}
